<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstProject.mapper.product-mapper">
<!-- 
	private int product_no;
	private int cno;
	private String name;
	private int price;
	private int discount_rate;

 -->
 <select id="productListData" resultType="ProductVO" parameterType="hashmap">
    SELECT product_no,main_img,name,num
    FROM (SELECT product_no,main_img,name,rownum as num
    FROM (SELECT product_no,main_img,name 
    FROM product ORDER BY product_no))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="productTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM product
  </select>
  
   <select id="productDetailData" resultType="ProductVO" parameterType="int">
   SELECT product.product_no, name, price, main_img, detail_no, img , content
FROM product,product_detail
WHERE product.product_no=product_detail.product_no AND product.product_no=#{no}
  </select>
 <!--  <select id="productDetailData" resultType="ProductVO" parameterType="int">
   SELECT * FROM product
   WHERE product_no=#{no}
  </select> -->
  
  
  <!-- 장바구니 저장  -->
  <insert id="Product_keepInsert" parameterType="com.firstProject.vo.Product_keepVO">
    INSERT INTO product_keep(no, product_no, mem_id) VALUES(
      (SELECT NVL(MAX(no)+1,1) FROM product_keep),#{product_no},#{mem_id}
    )
  </insert>
  <!-- 데이터 읽기(장바구니 목록) -->
  <select id="product_keepListData" parameterType="String" resultType="com.firstProject.vo.Product_keepVO">
    SELECT * FROM product_keep
    WHERE mem_id=#{mem_id}
    ORDER BY no DESC
  </select>
  <!-- 장바구니여부 확인 -->
  <select id="product_keepCount" parameterType="com.firstProject.vo.Product_keepVO" resultType="int">
    SELECT COUNT(*) FROM product_keep
    WHERE mem_id=#{mem_id} AND pno=#{pno}
  </select>
  <!-- 장바구니 취소시에 처리  -->
  <delete id="product_keepDelete" parameterType="int">
    DELETE FROM product_keep
    WHERE product_no=#{product_no}
  </delete>
  
  <!-- 찜저장  -->
  <insert id="pdlikeInsert" parameterType="com.firstProject.vo.LikeVO">
    INSERT INTO like_product(no, product_no, mem_id) VALUES(
      (SELECT NVL(MAX(no)+1,1) FROM like_product),#{product_no},#{mem_id}
    )
  </insert>
  <!-- 데이터 읽기(찜 목록) -->
  <select id="pdlikeListData" parameterType="String" resultType="com.firstProject.vo.LikeVO">
    SELECT * FROM like_product
    WHERE mem_id=#{mem_id}
    ORDER BY no DESC
  </select>
  <!--  찜여부 확인 -->
  <select id="pdlikeCount" parameterType="com.firstProject.vo.LikeVO" resultType="int">
    SELECT COUNT(*) FROM like_product
    WHERE mem_id=#{mem_id} AND cno=#{cno}
  </select>
  <!-- 찜 취소시에 처리  -->
  <delete id="pdlikeDelete" parameterType="int">
    DELETE FROM like_product
    WHERE product_no=#{product_no}
  </delete>
  
  <!-- 댓글 -->
  <insert id="preplyInsert" parameterType="ReplyVO">
	    <selectKey keyProperty="no" resultType="int" order="BEFORE">
	      SELECT NVL(MAX(no)+1,1) as no FROM product_reply
	    </selectKey>
	    INSERT INTO product_reply(no,bno,mem_id,name,msg,group_id) VALUES(
	      #{no},
	      #{bno},
	      #{mem_id},
	      #{name},
	      #{msg},
	      (SELECT NVL(MAX(group_id)+1,1) FROM product_reply)
	    )
  </insert>
	<select id="preplyListData" resultType="ReplyVO" parameterType="int">
		SELECT no, bno, mem_id,name, msg, TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI:ss') as dbday,
		group_tab FROM product_reply
		WHERE bno=#{bno}
		ORDER BY group_id DESC, group_step ASC
	</select>
	<select id="preplyParentData" parameterType="int" resultType="ReplyVO">
		SELECT group_id, group_step, group_tab
		FROM product_reply
		WHERE no=#{no}
	</select>
	<update id="preplyStepIncrement" parameterType="ReplyVO">
		UPDATE product_reply SET
		group_step=group_step+1
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</update>
	<insert id="preplyReplyInsert" parameterType="ReplyVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
		      SELECT NVL(MAX(no)+1,1) as no FROM product_reply
		    </selectKey>
		    INSERT INTO product_reply(no,bno,mem_id,name,msg,group_id, group_step, group_tab, root, depth) VALUES(
		      #{no},
		      #{bno},
		      #{mem_id},
		      #{name},
		      #{msg},
		      #{group_id},
		      #{group_step},
		      #{group_tab},
		      #{root},
		      0
		    )	
	</insert>
	<update id="preplyDepthIncrement" parameterType="int">
		UPDATE product_reply SET
		depth=depth+1
		WHERE no=#{no}
	</update>
	<update id="preplyUpdate" parameterType="ReplyVO">
		UPDATE product_reply SET
		msg=#{msg}
		where no=#{no}
	</update>
	<!-- 삭제 -->
	<select id="preplyInfoData" resultType="ReplyVO" parameterType="int">
		SELECT depth, root FROM product_reply
		WHERE no=#{no}
	</select>
	<!-- depth=0일 때 -->
	<delete id="preplyDelete" parameterType="int">
		DELETE FROM product_reply
		WHERE no=#{no}
	</delete>
	<!-- depth!=0 -->
	<update id="preplyMsgUpdate" parameterType="int">
		UPDATE product_reply SET
		msg='삭제된 댓글입니다.'
		WHERE no=#{no}
	</update>
	<update id="preplyDepthDecrement" parameterType="int">
		UPDATE product_reply SET
		depth=depth-1
		WHERE no=#{no}
	</update>
	<select id="preplyCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM product_reply
		WHERE bno=#{bno}
	</select>
</mapper>