<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstProject.mapper.recipe-mapper">
 <select id="recipeData" resultType="com.firstProject.vo.RecipeVO" parameterType="hashmap">
    SELECT recipe_no, poster, title, mem_id, hit, num
    FROM (SELECT recipe_no, poster, title, mem_id, hit, rownum as num
    FROM (SELECT recipe_no, poster, title, mem_id, hit
    FROM recipe))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="recipeTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM recipe
  </select>
   <update id="hitIncrement" parameterType="int">
    UPDATE recipe SET
    hit=hit+1
    WHERE recipe_no=#{recipe_no}
  </update>
  <select id="recipeDetailData" resultType="com.firstProject.vo.RecipeVO" parameterType="int">
    SELECT * FROM recipe
    WHERE recipe_no=#{recipe_no}
  </select>
  
  <!-- 찜 저장  -->
  <insert id="rclikeInsert" parameterType="com.firstProject.vo.LikeVO">
    INSERT INTO like_recipe(no, recipe_no, mem_id) VALUES(
      (SELECT NVL(MAX(no)+1,1) FROM like_recipe),#{recipe_no}, #{mem_id}
    )
  </insert>
  <!-- 데이터 읽기(찜 목록) -->
  <select id="rclikeListData" parameterType="String" resultType="com.firstProject.vo.LikeVO">
    SELECT * FROM like_recipe
    WHERE mem_id=#{mem_id}
    ORDER BY no DESC
  </select>
  <!-- 찜여부 확인 -->
  <select id="rclikeCount" parameterType="com.firstProject.vo.LikeVO" resultType="int">
    SELECT COUNT(*) FROM like_recipe
    WHERE mem_id=#{mem_id} AND cno=#{cno}
  </select>
  <!-- 찜 취소시에 처리  -->
  <delete id="rclikeDelete" parameterType="int">
    DELETE FROM like_recipe
    WHERE recipe_no=#{recipe_no}
  </delete>
  
  <!-- 댓글 -->
  <insert id="replyInsert" parameterType="ReplyVO">
	    <selectKey keyProperty="no" resultType="int" order="BEFORE">
	      SELECT NVL(MAX(no)+1,1) as no FROM recipe_reply
	    </selectKey>
	    INSERT INTO recipe_reply(no,bno,mem_id,name,msg,group_id) VALUES(
	      #{no},
	      #{bno},
	      #{mem_id},
	      #{name},
	      #{msg},
	      (SELECT NVL(MAX(group_id)+1,1) FROM recipe_reply)
	    )
  </insert>
	<select id="replyListData" resultType="ReplyVO" parameterType="int">
		SELECT no, bno, mem_id,name, msg, TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI:ss') as dbday,
		group_tab FROM recipe_reply
		WHERE bno=#{bno}
		ORDER BY group_id DESC, group_step ASC
	</select>
	<select id="replyParentData" parameterType="int" resultType="ReplyVO">
		SELECT group_id, group_step, group_tab
		FROM recipe_reply
		WHERE no=#{no}
	</select>
	<update id="replyStepIncrement" parameterType="ReplyVO">
		UPDATE recipe_reply SET
		group_step=group_step+1
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</update>
	<insert id="replyReplyInsert" parameterType="ReplyVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
		      SELECT NVL(MAX(no)+1,1) as no FROM recipe_reply
		    </selectKey>
		    INSERT INTO recipe_reply(no,bno,mem_id,name,msg,group_id, group_step, group_tab, root, depth) VALUES(
		      #{no},
		      #{bno},
		      #{mem_id},
		      #{name},
		      #{msg},
		      #{group_id},
		      #{group_step},
		      #{group_tab},
		      #{root},
		      0
		    )	
	</insert>
	<update id="replyDepthIncrement" parameterType="int">
		UPDATE recipe_reply SET
		depth=depth+1
		WHERE no=#{no}
	</update>
	<update id="replyUpdate" parameterType="ReplyVO">
		UPDATE recipe_reply SET
		msg=#{msg}
		where no=#{no}
	</update>
	<!-- 삭제 -->
	<select id="replyInfoData" resultType="ReplyVO" parameterType="int">
		SELECT depth, root FROM recipe_reply
		WHERE no=#{no}
	</select>
	<!-- depth=0일 때 -->
	<delete id="replyDelete" parameterType="int">
		DELETE FROM recipe_reply
		WHERE no=#{no}
	</delete>
	<!-- depth!=0 -->
	<update id="replyMsgUpdate" parameterType="int">
		UPDATE recipe_reply SET
		msg='삭제된 댓글입니다.'
		WHERE no=#{no}
	</update>
	<update id="replyDepthDecrement" parameterType="int">
		UPDATE recipe_reply SET
		depth=depth-1
		WHERE no=#{no}
	</update>
	<select id="replyCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM recipe_reply
		WHERE bno=#{bno}
	</select>
</mapper>
