<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstProject.mapper.restaurant-mapper">
 <!-- 
REST_NO               NUMBER        
REST_NAME    NOT NULL VARCHAR2(100) 
REST_POSTER           VARCHAR2(300) 
REST_SCORE            VARCHAR2(20)  
REST_ADDR1   NOT NULL VARCHAR2(150) 
REST_ADDR2            VARCHAR2(150) 
REST_HOLIDAY          VARCHAR2(100) 
REST_CONTENT          CLOB          
REST_TEL     NOT NULL VARCHAR2(30)  
REST_TIME    NOT NULL VARCHAR2(100) 
REST_PARKING          VARCHAR2(20)  
REST_SNS              VARCHAR2(300) 
REST_HIT              NUMBER        
REST_LIKE             NUMBER        
REST_PRICE            VARCHAR2(30)

-->
<select id="restaurantListData" resultType="com.firstProject.vo.RestaurantVO" parameterType="hashmap">
    SELECT rest_no,rest_name,rest_poster,rest_content, num
    FROM (SELECT rest_no,rest_name,rest_poster,rest_content, rownum as num
    FROM (SELECT rest_no,rest_name,rest_poster,rest_content 
    FROM restaurant ORDER BY rest_no))
    WHERE num BETWEEN #{start} AND #{end}
</select>
<select id="restaurantTotalPage" resultType="int" parameterType="int">
	SELECT CEIL(COUNT(*)/12.0) FROM restaurant
</select>
 <select id="restaurantDetailData" resultType="RestaurantVO" parameterType="int">
    SELECT * FROM restaurant
    WHERE rest_no=#{rest_no}
  </select>

   <!-- mypage + reservation -->
 <select id="restaurantReserveData" resultType="RestaurantVO">
    SELECT rest_no,rest_name,rest_poster,theater_no 
    FROM restaurant_info
  </select>
  <!-- 
      1,2,3,4
   -->
  <select id="restaurantTheaterNo" resultType="String" parameterType="int">
    SELECT theater_no FROM restaurant_info
    WHERE rest_no=#{rest_no}
  </select>
  
  <select id="theaterListData" resultType="com.firstProject.vo.TheaterVO" parameterType="int">
    SELECT * FROM theater_info
    WHERE tno=#{tno}
  </select>
  
  <select id="theaterReserveData" resultType="String" parameterType="int">
    SELECT rday FROM theater_info
    WHERE tno=#{tno}
  </select>
  
  <select id="dayTimeData" resultType="String" parameterType="int">
    SELECT rtime FROM date_info
    WHERE rday=#{rday}
  </select>
  
  <select id="timeData" resultType="String" parameterType="int">
    SELECT time FROM time_info
    WHERE tno=#{tno}
  </select>
 
  <insert id="reserveInsert" parameterType="com.firstProject.vo.ReservationVO">
    <selectKey keyProperty="rest_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(rest_no)+1,1) as rest_no FROM reservation
    </selectKey>
    INSERT INTO reservation VALUES(
      #{rest_no},
      #{mem_id},
      #{cno},
      #{theater},
      #{time},
      #{people},
      #{price},
      'n',SYSDATE)
  </insert>
  <resultMap type="com.firstProject.vo.ReservationVO" id="reserveList">
   <result property="rest_no" column="rest_no"/>
   <result property="mem_id" column="mem_id"/>
   <result property="theater" column="theater"/>
   <result property="time" column="time"/>
   <result property="people" column="people"/>
   <result property="price" column="price"/>
   <result property="isreserve" column="isreserve"/>
   <result property="resvo.rest_name" column="rest_name"/>
   <result property="resvo.rest_poster" column="rest_poster"/>
  </resultMap>
  <select id="mypageReserveListData" resultMap="reserveList" parameterType="string">
    SELECT reservation.rest_no,rest_name,rest_poster,theater,time,people,price,isreserve
    FROM reservation,restaurant_info
    WHERE cno=restaurant_info.rest_no AND mem_id=#{mem_id}
    ORDER BY rest_no DESC
  </select>
  <select id="adminReserveListData" resultMap="reserveList">
    SELECT reservation.rest_no,mem_id,rest_name,rest_poster,theater,time,people,price,isreserve
    FROM reservation,restaurant_info
    WHERE cno=restaurant_info.rest_no AND isreserve='0'
    ORDER BY rest_no DESC
  </select>
  
  <update id="reserveOk" parameterType="int">
    UPDATE reservation SET
    isreserve='1'
    WHERE rest_no=#{rest_no}
  </update>
  
  <!-- 찜 저장  -->
  <insert id="rslikeInsert" parameterType="com.firstProject.vo.LikeVO">
     INSERT INTO like_restaurant(no, rest_no, mem_id) VALUES(
      (SELECT NVL(MAX(no)+1,1) FROM like_restaurant),#{rest_no}, #{mem_id}
    )
  </insert>
  <!-- 데이터 읽기(찜 목록) -->
  <select id="rslikeListData" parameterType="String" resultType="com.firstProject.vo.LikeVO">
    SELECT * FROM like_restaurant
    WHERE mem_id=#{mem_id}
    ORDER BY rest_no DESC
  </select>
  <!-- 찜여부 확인 -->
  <select id="rslikeCount" parameterType="com.firstProject.vo.LikeVO" resultType="int">
    SELECT COUNT(*) FROM like_restaurant
    WHERE mem_id=#{mem_id} AND cno=#{cno}
  </select>
  <!-- 찜 취소시에 처리  -->
  <delete id="rslikeDelete" parameterType="int">
    DELETE FROM like_restaurant
    WHERE rest_no=#{rest_no}
  </delete>
  <!-- 댓글 -->
  <insert id="rereplyInsert" parameterType="ReplyVO">
	    <selectKey keyProperty="no" resultType="int" order="BEFORE">
	      SELECT NVL(MAX(no)+1,1) as no FROM restaurant_reply
	    </selectKey>
	    INSERT INTO restaurant_reply(no,bno,mem_id,name,msg,group_id) VALUES(
	      #{no},
	      #{bno},
	      #{mem_id},
	      #{name},
	      #{msg},
	      (SELECT NVL(MAX(group_id)+1,1) FROM restaurant_reply)
	    )
  </insert>
	<select id="rereplyListData" resultType="ReplyVO" parameterType="int">
		SELECT no, bno, mem_id,name, msg, TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI:ss') as dbday,
		group_tab FROM restaurant_reply
		WHERE bno=#{bno}
		ORDER BY group_id DESC, group_step ASC
	</select>
	<select id="rereplyParentData" parameterType="int" resultType="ReplyVO">
		SELECT group_id, group_step, group_tab
		FROM restaurant_reply
		WHERE no=#{no}
	</select>
	<update id="rereplyStepIncrement" parameterType="ReplyVO">
		UPDATE restaurant_reply SET
		group_step=group_step+1
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</update>
	<insert id="rereplyReplyInsert" parameterType="ReplyVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
		      SELECT NVL(MAX(no)+1,1) as no FROM restaurant_reply
		    </selectKey>
		    INSERT INTO restaurant_reply(no,bno,mem_id,name,msg,group_id, group_step, group_tab, root, depth) VALUES(
		      #{no},
		      #{bno},
		      #{mem_id},
		      #{name},
		      #{msg},
		      #{group_id},
		      #{group_step},
		      #{group_tab},
		      #{root},
		      0
		    )	
	</insert>
	<update id="rereplyDepthIncrement" parameterType="int">
		UPDATE restaurant_reply SET
		depth=depth+1
		WHERE no=#{no}
	</update>
	<update id="rereplyUpdate" parameterType="ReplyVO">
		UPDATE restaurant_reply SET
		msg=#{msg}
		where no=#{no}
	</update>
	<!-- 삭제 -->
	<select id="rereplyInfoData" resultType="ReplyVO" parameterType="int">
		SELECT depth, root FROM restaurant_reply
		WHERE no=#{no}
	</select>
	<!-- depth=0일 때 -->
	<delete id="rereplyDelete" parameterType="int">
		DELETE FROM restaurant_reply
		WHERE no=#{no}
	</delete>
	<!-- depth!=0 -->
	<update id="rereplyMsgUpdate" parameterType="int">
		UPDATE restaurant_reply SET
		msg='삭제된 댓글입니다.'
		WHERE no=#{no}
	</update>
	<update id="rereplyDepthDecrement" parameterType="int">
		UPDATE restaurant_reply SET
		depth=depth-1
		WHERE no=#{no}
	</update>
	<select id="rereplyCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM restaurant_reply
		WHERE bno=#{bno}
	</select>
  
  
  
  
  
  
  
  
  
</mapper>